<app-main-slider></app-main-slider>
<app-categories-slider></app-categories-slider>

<div class="container">
    <div class="row">
        <div>
            <input type="text" [(ngModel)]="x" class="form-control m-auto w-75 my-3" id=""
                placeholder="Product Title">

        </div>
        <div class="col-md-2" *ngFor="let item of products|search:x">
            <div class="product p-2 overflow-hidden">

                <button class="btn" (click)="addToWishList(item._id)">
                    <i class="fa-heart" [class]="isInWishList?'fa-solid':'fa-regular'"></i>
                </button>

                <a [routerLink]="[ '/product-details',item._id ]">
                    <img [src]="item.imageCover" alt="" class="w-100">
                    <span class="text-main font-sm">{{item.category.name}}</span>
                    <h3 class="h6"> {{item.title|seeMore:2}} </h3>

                    <div class="font-sm d-flex align-items-center justify-content-between">
                        <span>{{item.price|currency}} </span>
                        <span> <i class="rating-color fa-solid fa-star"></i> {{item.ratingsAverage}} </span>
                    </div>

                </a>

                <button (click)="addToCart(item._id)" class="btn bg-main text-white w-100">+Add</button>

            </div>
        </div>
    </div>


</div>


